[package]
name = "ssh-key-dir"
repository = "https://github.com/coreos/ssh-key-dir"
license = "Apache-2.0"
edition = "2018"
exclude = ["/.cci.jenkinsfile", "/.github", "/.gitignore", "/.travis.yml"]
authors = [ "Benjamin Gilbert <bgilbert@redhat.com>" ]
description = "AuthorizedKeysCommand wrapper to read ~/.ssh/authorized_keys.d"
readme = "README.md"
version = "0.1.2-alpha.0"

[package.metadata.release]
sign-commit = true
disable-push = true
disable-publish = true
pre-release-commit-message = "cargo: ssh-key-dir release {{version}}"
post-release-commit-message = "cargo: development version bump"
tag-message = "ssh-key-dir v{{version}}"

[[bin]]
name = "ssh-key-dir"
path = "src/main.rs"

[profile.release]
lto = true

[dependencies]
clap = { version = "2.33", default-features = false }
error-chain = { version = "0.12", default-features = false }
users = "0.10"

[dev-dependencies]
nix = "0.17"
tempfile = "3"
